<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463445354918-f3b4e4laf67ubrpcmedb7j4c7ab7ni3g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463445354918-f3b4e4laf67ubrpcmedb7j4c7ab7ni3g</string>
	<key>API_KEY</key>
	<string>AIzaSyDU7lWdKTeoDJAv8hYKUZvVwO2qZlDcBsw</string>
	<key>GCM_SENDER_ID</key>
	<string>463445354918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zenvyro.zenmart</string>
	<key>PROJECT_ID</key>
	<string>zenmartappstore</string>
	<key>STORAGE_BUCKET</key>
	<string>zenmartappstore.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463445354918:ios:046ac1c8a5fbfa9d194767</string>
</dict>
</plist>